<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers resource="providers.config"/>
  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="DBConnString" connectionString="Data Source=10.1.104.9;User ID=dev;Password=dev!@#$; Initial Catalog=KW_AICANDO; Timeout=100"/>
    <!--<dataSource name="DBConnString" connectionString="Data Source=10.1.30.197,3800;User ID=dev;Password=dev!@#$; Initial Catalog=MATHSTUDYDB; Timeout=100"/>-->
  </database>
  
  <sqlMaps>
    <sqlMap resource="App_Data/ibatis/map_kfs.xml" />
  </sqlMaps>
</sqlMapConfig>
